@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0; /* Elimina a borda padrão de 8px que o html cria ao redor do body. */
  font-family: 'Poppins', sans-serif;
  background: #201b2c;
}

body * { 
  box-sizing: border-box;
}

.welcome {
  width: 100%;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.divisor {
  background: #eae7e7;
  height: 10px;
  width: calc(22% - 5px);
  border-radius: 10px;
  margin: 40px 0px;
}

.presentation {
  position: absolute;
  left: calc(10% - 10px);
  top: 30%;
  width: 50%;
  color: #eae7e7;
}

.presentation h1 {
  font-size: 40pt;
}

.presentation p {
  text-align: justify;
  -ms-text-align-last: left;
  text-align-last: left;
  width: calc(60% + 20px);
  margin-bottom: 40px;
}

.btn-standard {
  padding: 16px 20px;
  border: none;
  border-radius: 100px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #2b134b;
  background: #9b53ff;
  box-shadow: 0px 10px 40px -12px #a600ff77;
  cursor: pointer;
  text-decoration: none;
}

 .imageBackground {
  position: relative;
  width: 35vw;
  left: calc(51% - 1px);
  min-height: 75vh;
  padding-top: 170px;
}

/* Portfolio Section  */
.portfolio {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
  padding-top: 26px;
}

.title-section {
  text-align: center;
  margin: 1.5rem 0;
  color: #eae7e7;
}

.division {
  width: 100%;
  height: 2px;
  background-color: #111111;
  margin: 1.5rem 0;
}

/* List of projects */
.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(250px, auto);
  grid-gap: 0.9rem;
}

#card-pattern {
  padding: 1rem;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

#card-pattern:hover {
  box-shadow: inset 0 100px 1000px 10px rgb(0 0 0 / 80%);
}

/* background image project 1 */
.card1 {
  background: url("https://cpro-portfolio-html.netlify.app/assets/project/project-one.png") center center/cover;
}

/* background image project 2 */
.card2 {
  background: url("https://cpro-portfolio-html.netlify.app/assets/project/project-one.png") center center/cover;
}

/* background image project 3 */
.card3 {
  background: url("https://cpro-portfolio-html.netlify.app/assets/project/project-one.png") center center/cover;
}

.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.card:hover .project-info {
  opacity: 1;
}

.project-bio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  top: 160px;
  left: 10px;
}

#footer {
  background: #111111;
}


@media only screen and (max-width: 950px) { /* Até a largura máxima for essa os seguintes elementos serão acionados: */
  .presentation {
    width: 85%;
  }

  .imageBackground {
    min-height: 103vh;
    width: 30%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 183px;
    position: initial;
    padding-top: 9px;
  }
}

@media only screen and (max-width: 600px){ /* Media querie para celular e telas menores.  */
  .welcome {
    flex-direction: column;
  }
  .presentation > h1 {
    font-size: 25pt;
  }

  .welcome > p {
    text-align: justify;
    margin-bottom: 40px;
    font-size: 15pt;
  }

  .welcome {
    width: 100%;
    height: auto;
  }

  .imageBackground {
    width: 50%;
    height: auto;
    margin-bottom: 170px;
    margin-left: 100px;
    position: initial;
  }

  .presentation {
    width: 90%;
  }
}