/* Utilities is where reusable styling of this template will be. Contains things like:
  * Button Styling
  * Background color styling
  * Padding and Margin
*/

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

@keyframes wave {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.gradient {
  background-image: linear-gradient(to left, rebeccapurple, steelblue, turquoise); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: black;
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* Presentation container */
.presentation {
  position: absolute;
  left: calc(10% - 10px);
  top: 30%;
  width: 50%;
  color: var(--text-color);
}

.presentation h1 {
  font-size: 40pt;
}

.presentation p {
  text-align: justify;
  -ms-text-align-last: left;
  text-align-last: left;
  width: calc(60% + 20px);
  margin-bottom: 40px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-secondary {
  align-self: center;
  margin: 2rem 0;
  background-color: var(--card-background);
  color: var(--btn-secondary);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Projects cards */
#card-pattern {
  padding: 1.5rem;  
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  width: 21rem;
}

#card-pattern:hover {
  box-shadow: inset 0 100px 1000px 10px rgb(0 0 0 / 80%);
  border: 1px solid;
  border-color: var(--primary-color);
  animation-duration: 2.5s;
}

#card-pattern:hover .project-info {
  opacity: 1;
}

#card-pattern .project-info .project-bio h3, p {
  color: #ffffff;
}

#card-pattern .project-bio h3 {
  font-size: 0.9rem;
}

#card-pattern .project-bio p {
  font-size: 0.83rem;
}

#card-pattern a {
  color: #ffffff;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

#card-pattern a:hover {
  color: var(--primary-color);
}

/* Projects images */
/* background image project 1 */
.card1 {
  background: url("https://raw.githubusercontent.com/marioalvesx/Tindev/7d09eb4eedc564f00d3d28540ceebfca6c4d6979/frontend/src/assets/logo.svg") center center/cover;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-color: rgb(124 21 21);
}

/* background image project 2 */
.card2 {
  background: url("https://user-images.githubusercontent.com/22736436/111106513-00042f80-8534-11eb-9f35-68f0495e45d0.png") center center/cover;
}

/* background image project 3 */
.card3 {
  background: url("https://raw.githubusercontent.com/marioalvesx/ecoleta/cd74cec2407fe90b89d7a07875ac540af974d4b0/public/assets/home-background.svg") center center/cover;
  background-position: 1rem 2rem;
  background-repeat: no-repeat;
  background-color: rgb(50 33 83);
}

/* background image project 4 */
.card4 {
  background: url("https://github.com/marioalvesx/StudentsReg/blob/master/src/assets/StudentAppTask.png?raw=true") center center/cover;
}

/* background image project 4 */
.card5 {
  background: url("https://raw.githubusercontent.com/marioalvesx/DevToDoList/47a77e02f60bdd3c8204d490c2a8715bcffda815/src/DevTodoList.Client/wwwroot/Scrum%20board-bro.svg") center center/cover;
  background-size: 320px 300px;
  background-repeat: no-repeat;
  background-color: rgb(50 119 164);
}

/* background image project 4 */
.card6 {
  background: url("https://raw.githubusercontent.com/marioalvesx/CadastroDePessoas/69ee8c71a1ad315e2e551f62393ea7f82463e963/PeopleRegister/Forms-amico.svg") center center/cover;
  background-size: 250px 280px;
  background-repeat: no-repeat;
  background-color: #3f51b5;
}

@media only screen and (max-width: 670px) {
  .presentation {
    width: 100%;
    top: 65%;
  }

  .presentation > h1 {
    font-size: 35pt;
  }

  .presentation p {
    width: calc(75% + 20px);
  }

}